:8080 {
	encode zstd gzip
	log {
		output stdout
		format json
	}

	handle /health {
		header Content-Type application/json
		respond "{\"status\":\"ok\",\"service\":\"kk-wa-edge\",\"upstream\":\"9eaac2d8683f62d87b1aef9d1014fb6d62b4ba35\",\"commit\":\"{$RAILWAY_GIT_COMMIT_SHA}\"}" 200
	}

	@websocket path /ws/*
	handle @websocket {
		reverse_proxy {$WA_PLAY_HOST}:3001
	}

	handle_path /api/* {
		reverse_proxy {$WA_BACK_HOST}:8080
	}

	handle_path /map-storage/* {
		reverse_proxy {$WA_MAP_STORAGE_HOST}:3000
	}

	handle_path /icon/* {
		reverse_proxy {$WA_ICON_HOST}:8080
	}

	handle /lettericons/* {
		reverse_proxy {$WA_ICON_HOST}:8080
	}

	handle {
		reverse_proxy {$WA_PLAY_HOST}:3000
	}
}
